<html>
    <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <div class="main" id="app">
        <h1>Check the weather!</h1>

        <div>
          <h2>Select a search type</h2>
            <label for="zipCode">Zip Code:</label>
            <input v-model="searchType" type="radio" value="zipCode" id="zipCode" name="searchType">
            <label for="cityName">City Name:</label>
            <input v-model="searchType" type="radio" value="cityName" id="cityName" name="searchType">
            <label for="cordinates">Cordiantes:</label>
            <input v-model="searchType" type="radio" value="cordinates" id="cordinates" name="searchType">
        </div>
        <p>Type in a location to see forcast</p>
        <input type="text" v-model="location" id="locationInput">

    </div>
</html>

<script>
   const app = new Vue ({
     el: '#app', 
     data: {
       location: '',
       searchType: []
     },
     methods: {
       getWeatherInfo: (location) => {
         axios.get()
       },
       buildApiString: () => {
         
       }
     }
    });
</script>


<style>
    h1 {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
    p {

    }
    .main {
      align-items: center;
    }
</style>