<html>
    <head>
      <script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <div class="main" id="app">
        <h1>Check the weather!</h1>

        <div>
          <h2>Select a search type</h2>
            <label for="zipCode">Zip Code:</label>
            <input v-model="searchType" type="radio" value="zipCode" id="zipCode" name="searchType">
            <label for="cityName">City Name:</label>
            <input v-model="searchType" type="radio" value="cityName" id="cityName" name="searchType">
            <label for="cordinates">Cordiantes:</label>
            <input v-model="searchType" type="radio" value="cordinates" id="cordinates" name="searchType">
        </div>

        <div v-if="searchType === 'zipCode'">
          <p>this is zipcode</p>
          <label for="zipCodeInput">Zip Code:</label>
          <input type="text" v-model="location" id="zipCodeInput">
        </div>

        <div v-if="searchType === 'cityName'">
          <p>this is city name</p>
          <label for="cityNameInput">City Name:</label>
          <input type="text" v-model="location" id="cityNameInput">
        </div>

        <div v-if="searchType === 'cordinates'">
          <p>this is cordinates</p>
          <label for="latitude">Latitude:</label>
          <input type="text" v-model="latitude" id="latitude">
          <label for="longitude">Longitude:</label>
          <input type="text" v-model="longitude" id="longitude">
        </div>

        <button @click="getWeatherInfo()">Submit</button>
        {{ apiResponse }}
    </div>
</html>

<script>
   const app = new Vue ({
     el: '#app', 
     data: {
       latitude: '',
       longitude: '',
       location: '',
       searchType: '',
       apiResponse: {}
     },
     methods: {
       getWeatherInfo () {
         console.log('hit getWeatherInfo');
         var url = this.buildApiString();
         if (url) {
          axios.post('/api/weather', {url: url}).then(response => (this.apiResponse = response.data));
         } 
       },
       buildApiString () {
         var url,
             baseWeatherApiString = 'https://api.openweathermap.org/data/2.5/weather?';
         if (this.searchType === 'zipCode') {
          console.log('hit zipcode');
          url = `${baseWeatherApiString}zip=${this.location}&appid=`;
         } else if (this.searchType === 'cityName') {
          console.log('hit cityName');
          url = `${baseWeatherApiString}q=${this.location}&appid=`;
         } else if (this.searchType === 'cordinates') {
          console.log('hit cordinates');
          url = `${baseWeatherApiString}lat=${this.latitude}&lon=${this.longitude}&appid=`;
         } else {
           alert('Please choose a search tyoe');
         }
         console.log('url', url);
         return url;
       }
     }
    });
</script>


<style>
    h1 {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
    p {

    }
    .main {
      align-items: center;
    }
</style>